<a href="https://colab.research.google.com/github/Sulfikar4424/DSML/blob/main/exp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats

movies_df = pd.read_csv("IMDb movies.csv")
print(movies_df.head(5))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
print(movies_df.describe())

           duration      avg_vote  ...  reviews_from_users  reviews_from_critics
count  85855.000000  85855.000000  ...        78258.000000          74058.000000
mean     100.351418      5.898656  ...           46.040826             27.479989
std       22.553848      1.234987  ...          178.511411             58.339158
min       41.000000      1.000000  ...            1.000000              1.000000
25%       88.000000      5.200000  ...            4.000000              3.000000
50%       96.000000      6.100000  ...            9.000000              8.000000
75%      108.000000      6.800000  ...           27.000000             23.000000
max      808.000000      9.900000  ...        10472.000000            999.000000

[8 rows x 6 columns]

In [9]:
print("column names : %s"%movies_df.columns.values)

column names : ['imdb_title_id' 'title' 'original_title' 'year' 'date_published' 'genre'
 'duration' 'country' 'language' 'director' 'writer' 'production_company'
 'actors' 'description' 'avg_vote' 'votes' 'budget' 'usa_gross_income'
 'worlwide_gross_income' 'metascore' 'reviews_from_users'
 'reviews_from_critics']

In [13]:
print ("null values: \n"), 
print movies_df.isna()

SyntaxError: ignored

In [ ]:
print (movies_df.dtypes)
print (movies_df.shape)

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object
(85855, 22)

In [15]:
clean_movies_df = movies_df.dropna(how='any')
print ( "new dataframe shape: ", clean_movies_df.shape)
print ("old dataframe shape: ")

new dataframe shape:  (6616, 22)
old dataframe shape: