<a href="https://colab.research.google.com/github/Sulfikar4424/DSML/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("hello")

hello

In [4]:
s=1
print(type(s))
a="hello"
print(type(a))
b=[1,2]
print(type(b))
c={1:'apple',2:'orenge'}
print(type(c))
d=True
print(type(d))
e=1.2
print(type(e))
f={"a","b"}
print(type(f))
g=()
print(type(g))
h=bytes()
print(type(h))
i=bytearray()
print(type(i))
j=range(4)
print(type(j))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

In [6]:
k=['s','u','l','f','i','k','a','r']
print(k[0])
print(k[1])
print(k[2])
print(k[3])
print(k[0:2])
print(k[:])
print(k[-2])
print(k[5])

s
u
l
f
['s', 'u']
['s', 'u', 'l', 'f', 'i', 'k', 'a', 'r']
a
k

In [8]:
d={1:'giri',2:'hari',3:'keeri'}
print(d)
print("first name is "+d[1])
print("second name is "+d[2])
print(d.keys())
print(d.values())

{1: 'giri', 2: 'hari', 3: 'keeri'}
first name is giri
second name is hari
dict_keys([1, 2, 3])
dict_values(['giri', 'hari', 'keeri'])

In [9]:
k={1,2,3}
print(k)
m={1.0,"hello",(1,2,3)}
print(m)
n=set([1,2,3,2])
print(n)
o=set(["hello world"])
print(o)

{1, 2, 3}
{1.0, 'hello', (1, 2, 3)}
{1, 2, 3}
{'hello world'}

In [12]:
def add(a,b):
  return a+b
res=add(2,3)
print("result",res)

result 5